<section id="main">

	<div class="top-nav">
		<ul class="breadcrumb">
			<li>
				<a href="#">
					<i class="fa fa-home"> F-1 Feeder</i>
				</a>
			</li>
<!-- 			<li ng-repeat="breadcrumb in breadcrumbs.getAll()">
				<span class="divider">/</span>
				<ng-switch on="$last">
					<span ng-switch-when="true">{{breadcrumb.name}}</span>
					<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
				</ng-switch>
			</li> -->
		</ul>
		<i class="fa fa-search fa-search-icon"></i>
		<input class="search-text" type="text" ng-model="nameFilter" placeholder="Search..."/>
	</div>

	<nav class="team" class="main-nav">
		<img class="team-img" ng-show="driver" ng-src="img/drivers/{{driver.Driver.driverId}}.png"/>

		<div class="team-title">	
			<img ng-show="driver" ng-src="img/flags/{{driver.Driver.nationality}}.png"/>
			<br/>
			{{driver.Driver.givenName}}<br/>{{driver.Driver.familyName}}
		</div>

		<table class="team-details">
			<tr>
				<td>Country:</td>
				<td>{{driver.Driver.nationality}}</td>
			</tr>

			<tr>
				<td>Team: </td>
				<td>{{driver.Constructors[0].name}}</td>
			</tr>

			<tr>
				<td>Birth: </td>
				<td>{{driver.Driver.dateOfBirth}}</td>
			</tr>

			<tr>
				<td>Biography: </td>
				<td>
					<a href="{{driver.Driver.url}}" target="_blank">
						<i id="fa-link" class="fa fa-external-link"></i>
					</a>
				</td>
			</tr>
		</table>

	</nav>

	<div class="main-content">
		<table class="data-table">
			<thead>
				<tr><th class="table-head" colspan="5">Formulat 1 2013 Results</th></tr>
			</thead>
			<tfoot>
				<tr><td colspan="5"></td></tr>
			</tfoot>
			<tbody>
				<tr>
					<td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
				</tr>
				<tr ng-repeat="race in races">
					<td>{{race.round}}</td>
					<td><img ng-src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
					<td>{{race.Results[0].Constructor.name}}</td>
					<td>{{race.Results[0].grid}}</td>
					<td>{{race.Results[0].position}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</section>