<section id="main">
	<div class="top-nav">
		<ul class="breadcrumb">
			<li ng-repeat="breadcrumb in breadcrumbs.getAll()">
				<span class="divider">/</span>
				<ng-switch on="$last">
					<span ng-switch-when="true">{{breadcrumb.name}}</span>
					<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
				</ng-switch>
			</li>
		</ul>
		<input type="text" ng-model="nameFilter" placeholder="Search..."/>
		<i class="fa fa-search"></i>
	</div>

	<div class="team">
		<img id="team-img" ng-src="img/teams/{{id}}.png"/>
		<div class="team-title">
			<img ng-src="img/flags/{{racesList[0].Results[0].Constructor.nationality}}.png"/><br/>
			{{teamDetails.Constructor.name}}
		</div>

		<table class="team-details">
			<tr>
				<td>Country: </td>
				<td>{{teamDetails.Constructor.nationality}}</td>
			</tr>
			<tr>
				<td>Position: </td>
				<td>{{teamDetails.position}}</td>
			</tr>
			<tr>
				<td>Points: </td>
				<td>{{teamDetails.points}}</td>
			</tr>
			<tr>
				<td>History: </td>
				<td>{{teamDetails.Constructor.url}}</td>
			</tr>
		</table>
	</div>

	<div>
		<table class="data-table">
			<thead>
				<tr><th colspan="5" class="full-header">Formula 1 2013 Results</th></tr>
				<tr>
					<th>Round</th>
					<th>Grand Prix</th>
					<th ng-repeat="driver in teamDriversList">{{driver.familyName}}</th>
					<th>Points</th>
				</tr>
			</thead>
			<tfoot>
				<tr><td colspan="5"></td></tr>
			</tfoot>
			<tbody ng-repeat="race in racesList">
				<tr>
					<td>{{race.round}}</td>
					<td>
						<img ng-src="img/flags/{{race.Circuit.Location.country}}.png"/>
						{{race.raceName}}
					</td>
					<td>{{race.Results[0].position}}</td>
					<td>{{race.Results[1].position}}</td>
					<td>{{addition(race.Results[0].points, race.Results[1].points)}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</section>